

<div class="wrapper">
    <section class="section section-lg animated animate__bounceInDown">
        <section class="section pt-o">
            <div class="container">
                <div class="title"><h3 class="mb-3">CONTACT FORM</h3></div>
                <div class="row row-grid  text-left">
                
                    <div class="card text-center">
                        <div class="card-body">

                            <form>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group" class="text-left">
                                            <label for="name"><b>Name:</b></label>
                                            <input (keydown)=validateInput($event) type="text" name="name" id="name" class="form-control" placeholder="..." [(ngModel)]="contact.name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="form-group" class="text-left">
                                            <label for="email"><b>Email:</b></label>
                                            <input (keydown)=validateInput($event)  type="text" name="email" id="email" class="form-control" placeholder="..." [(ngModel)]="contact.email">
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group" class="text-left">
                                            <label for="subject"><b>Subject:</b></label>
                                            <input (keydown)=validateInput($event) type="text" name="subject" id="subject" class="form-control" placeholder="..." [(ngModel)]="contact.subject">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group" class="text-left">
                                            <label for="message"><b>Message:</b></label>
                                            <textarea maxlength="50" (keydown)=validateInput($event) name="message" id="message" class="form-control" cols="30" rows="50" placeholder="..." [(ngModel)]="contact.message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="row mt-5">
                                    <div class="col-md-4 offset-md-8">
                                        <div class="form-group">
                                            <button class="btn btn-success btn-block" (click)="sendForm()" type="button"><i class="fas fa-paper-plane mr-2"></i>Send</button>
                                        </div>
                                    </div>
                                </div>
                                
    
                            
                        </form>


                            
                        </div>
                    </div>
                </div>
            </div>

            
                   
            
        </section>
      </section>
</div>